PG_HOST=localhost
PG_PORT=5432
DOCKER_PG_PORT=55432
PG_DB=phone_book_demo
PG_ADMIN_DB=postgres
PG_USER=postgres
PG_PASSWORD=root
PG_SCHEMA=bot_test

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3.5:2b

LOG_LEVEL=INFO
LOG_FILE=logs/phonebook.log

MAX_TOKEN=f9LHodD0cOLjcKQxkUtc6izhoxwEpTjjEZwJqtEjEV2PACdpDrKHuEEOh8r8BOCnd9zPsvsAAxcviCTyG8p_
MAX_SKIP_UPDATES=true
